@charset "utf-8";
/* CSS Document */
h1 {color: #6A0266;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";}

body{
	background: #5795F5
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #BCC7FA;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.active {
  background-color: #D36DC6;
}